<<<<<<< HEAD
.box
{
    height: 40px;
    width: 30px;
    border: 2px solid black;
    background-color: blanchedalmond;

}
=======


body
{
    background-color: rgba(240, 234, 234, 0.314);
}


.navbar
{
   display: flex;
}






.nav-list
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 720px;
    margin-top: -50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:solid;
    font-weight: 300;
}

>>>>>>> f2ab51b71279cd23a58c2dc99116b0f12ed456ac
