.box
{
    height: 10vh;
    width: 20vw;
    border: 2px solid black;
    overflow: scroll;/* It adds an automatic scroller in the container so for the seeing the content it can be scrolled without affecting the container dimensions.*/
}

.box1
{
    height: 10vh;
    width: 20vw;
    border: 2px solid black;
    overflow: hidden; /* It hides the content which doesn’t fit the box. */
   
}

.box2
{
    height: 10vh;
    width: 20vw;
    border: 2px solid black;
    overflow: visible;
    /* This makes the whole text visible irrespective of the container size */
}

.box3
{
    height: 10vh;
    width: 20vw;
    border: 2px solid black;
    overflow: auto;
    /* It is quite similar to scroll but the scroller is only added when the content starts getting out of the container. Mostly this option is used to avoid unnecessary scroll bars if the content already is within the content dimensions. */
    display: flex;
    align-self: center;
    margin-top: 900px;


}

.box4
{
    border: 2px solid black;
    overflow: auto;
    white-space: nowrap;
     height: 10vh;
    width: 20vw;
    /* nowrap	Sequences of whitespace will collapse into a single whitespace. Text will never wrap to the next line. The text continues on the same line until a <br> tag is encountered */
}

.box5
{
    border: 2px solid black;
    overflow: auto;
    text-overflow: ellipsis; 
    white-space: nowrap;
   /* (text-overflow: ellipsis;) +
   (white-space: nowrap;)
   senteces appear as a dotted after somepoint.
   */
 
}

.box6
{
    border:2px solid black;
   overflow-y: auto;
    overflow-x: hidden;
     height: 10vh;
    width: 20vw;
    white-space: nowrap;
    /* niche wala scroll bar hidden ho jyga */
}

.box7
{
   border: solid 2px black;
   height: 10vh;
   width: 20vw;
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
}