.container
{
    border: 2px solid purple;
    /* background-color: beige; */
    background-image: url(	https://unsplash.com/photos/white-and-blue-cloudy-sky-f5_lfi2S-d4);
    height: 450px;
    width: 450px;
}

img{
    width: 450px;
    height: 450px;
    /* object-fit: contain; */
    object-fit: contain ;
    /* object-position: top right; */
    object-position: bottom right;

    /* Bydefault property of object-fit is fill.  */


}   