.BOX
{
    border: 2px solid ;
    box-shadow: -5px 12px 5px chocolate;
    background-color: white;
    color: green;
    font-size: 20px;
    margin: 2px;
    padding: 2px;
    
}

.text
{
    text-shadow: -19px 5px 4px #ce2ab0;
    margin: 12px;
    padding: 12px;
    outline: 2px solid black;
    border: 2px solid green;
}